[submodule "src/dojox"]
	path = src/dojox
	url = git://github.com/dojo/dojox.git
[submodule "src/dojo"]
	path = src/dojo
	url = git://github.com/dojo/dojo.git
[submodule "src/dijit"]
	path = src/dijit
	url = git://github.com/dojo/dijit.git
[submodule "src/util"]
	path = src/util
	url = git://github.com/dojo/util.git
[submodule "src/gridx"]
	path = src/gridx
	url = https://github.com/oria/gridx.git
[submodule "src/scidrive/resources/font-awesome-4.2.0"]
	path = src/scidrive/resources/font-awesome-4.2.0
	url = https://github.com/FortAwesome/Font-Awesome.git
